/* SIDEBAR */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px; /* 300px para rem */
    background-color: #000000;
    padding: 12px; /* 12px para rem */
}

.sidebar .logo {
    background-color: #121212;
    display: flex;
    border-radius: 8px; /* 8px para rem */
    padding: 16px 0 0 16px; /* 16px, 0, 0, 16px para rem */
}

.sidebar .logo img {
    width: 80px; /* 80px para rem */
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px; /* 8px para rem */
    cursor: pointer;
}

.sidebar nav ul {
    list-style: none;
    margin-top: 20px; /* 20px para rem */
    padding: 0 20px 10px 20px; /* 0, 20px, 10px, 20px para rem */
}

.sidebar nav ul li {
    padding: 10px 0; /* 10px, 0 para rem */
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px; /* 14px para rem */
}

.sidebar nav ul li .fa {
    font-size: 20px; /* 20px para rem */
    margin-right: 10px; /* 10px para rem */
    font-weight: 300;
}

.sidebar nav ul li a:hover {
    color: #ffffff;
}

.library {
    background-color: #121212;
    border-radius: 8px; /* 8px para rem */
    display: flex;
    justify-content: space-between;
    min-block-size: 40px; /* 40px para rem */
    padding: 4px 8px; /* 4px, 8px para rem */
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px; /* 14px para rem */
    margin-top: 10px; /* 10px para rem */
    flex-direction: column;
}

.library .library__button {
    margin-right: 10px; /* 10px para rem */
    color: #b3b3b3;
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px; /* 20px, 10px para rem */
    display: flex;
}

.library .library__button .fa {
    font-size: 20px; /* 20px para rem */
    margin-right: 10px; /* 10px para rem */
    font-weight: 300;
    padding-right: 8px; /* 8px para rem */
}

.library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__content .fa-plus {
    margin: 24px 10px; /* 24px, 10px para rem */
}

.section-playlist {
    background-color: #242424;
    align-items: flex-start;
    border-radius: 8px; /* 8px para rem */
    gap: 20px; /* 20px para rem */
    display: flex;
    justify-content: space-between;
    min-block-size: 40px; /* 40px para rem */
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px; /* 14px para rem */
}